Real-Time-Audio-Descrambler/MSP432_digital/ADC_test/ccs-setup-files/** linguist-vendored
Real-Time-Audio-Descrambler/MSP432_digital/ADC_test/targetConfigs/** linguist-vendored

Real-Time-Audio-Descrambler/MSP432_digital/BandstopFilter/ccs-setup-files/** linguist-vendored
Real-Time-Audio-Descrambler/MSP432_digital/BandstopFilter/targetConfigs/** linguist-vendored

Real-Time-Audio-Descrambler/MSP432_digital/FINAL_IntegratedDescramblerMSP/ccs-setup-files/** linguist-vendored
Real-Time-Audio-Descrambler/MSP432_digital/FINAL_IntegratedDescramblerMSP/targetConfigs/** linguist-vendored

Real-Time-Audio-Descrambler/MSP432_digital/sinewave/ccs-setup-files/** linguist-vendored
Real-Time-Audio-Descrambler/MSP432_digital/sinewave/targetConfigs/** linguist-vendored

Real-Time-Audio-Descrambler/MSP432_digital/MSP432P4xx/** linguist-vendored
